/* purgecss start ignore */
@tailwind base;

html {
  @apply antialiased;
  scroll-behavior: smooth;
}

body {
  @apply antialiased;
  scroll-behavior: smooth;
  text-underline-position: under;
  background-color: rgba(252, 251, 249, .8);
}

.dark body {
  background-color: black;
}

/* optional scrollbar using webkit (cannot autohide if used) */

/* * {
  scrollbar-width: thin;
  scrollbar-color: #E5E7EB #fff;  (gray-200)
  scroll-behavior: smooth !important;
} */

/* .dark * {
  scrollbar-width: thin;
  scrollbar-color: #374151 #000; (gray-700, black)
} */

/* *::-webkit-scrollbar {
  width: 8px;
} */

/* *::-webkit-scrollbar-track {
  background: none;
} */

/* *::-webkit-scrollbar-thumb {
  background-color: #E5E7EB; (gray-200)
  border-radius: 20px;
  border: 2px solid #fff;
} */

/* .dark *::-webkit-scrollbar-thumb {
  background-color: #374151;  (gray-700)
  border-radius: 20px;
  border: 2px solid #000;
} */

header {
  background-color: rgba(253, 251, 249, .8); /* ∵ a=.8, header is lighter, ∴ using r+1 */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding-left: 23px;
  padding-right: 23px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0px -5px 35px #f5f2ec;
}

.dark header {
  background-color: rgba(0, 0, 0, .8);
  box-shadow: none;
}

img {
  /* width: calc(100% - 50px); */
  outline: none;
  border: none;
  border-style: none;
}

.wolframicon {
  display: inline-block;
  content: " ";
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='m429 256 70-79-103-23 10-105-97 42-53-91-53 91-97-42 10 105-103 23 70 79-70 79 103 23-11 105 97-42 54 91 53-91 97 42-10-105 103-23-70-79zm34 60-61-21-40-53 53 20 48 54zm10-130-56 62-65-25 39-55 82 18zm-91-29-33 47 2-68 38-51-7 72zm-71-51 66-29-38 51-63 22 35-44zm25 38-2 78-71 24v-76l73-26zM256 28l42 72-42 54-42-54 42-72zm-55 78 35 44-63-22-38-51 66 29zm48 64v76l-71-24-3-78 74 26zm-88-34 2 68-33-47-7-72 38 51zM39 185l82-17 39 55-65 25-56-63zm58 77 53-20-40 53-61 20 48-53zm-45 67 62-21 65 19-56 18-71-16zm70 112 8-84 67-21 1 71-76 34zm79-122-75-22 47-62 72 24-44 60zm48 153-37-63-1-59 38 56v66zm-37-145 44-60 44 60-44 64-44-64zm88 83-37 62v-66l38-56-1 60zm-33-151 72-24 47 62-75 22-44-60zm47 148 1-71 67 21 8 84-76-34zm75-62-56-18 65-19 62 21-71 16z' fill='black'/></svg>");
  width: 24px;
  height: 24px;
}

.dark .wolframicon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='m429 256 70-79-103-23 10-105-97 42-53-91-53 91-97-42 10 105-103 23 70 79-70 79 103 23-11 105 97-42 54 91 53-91 97 42-10-105 103-23-70-79zm34 60-61-21-40-53 53 20 48 54zm10-130-56 62-65-25 39-55 82 18zm-91-29-33 47 2-68 38-51-7 72zm-71-51 66-29-38 51-63 22 35-44zm25 38-2 78-71 24v-76l73-26zM256 28l42 72-42 54-42-54 42-72zm-55 78 35 44-63-22-38-51 66 29zm48 64v76l-71-24-3-78 74 26zm-88-34 2 68-33-47-7-72 38 51zM39 185l82-17 39 55-65 25-56-63zm58 77 53-20-40 53-61 20 48-53zm-45 67 62-21 65 19-56 18-71-16zm70 112 8-84 67-21 1 71-76 34zm79-122-75-22 47-62 72 24-44 60zm48 153-37-63-1-59 38 56v66zm-37-145 44-60 44 60-44 64-44-64zm88 83-37 62v-66l38-56-1 60zm-33-151 72-24 47 62-75 22-44-60zm47 148 1-71 67 21 8 84-76-34zm75-62-56-18 65-19 62 21-71 16z' fill='white'/></svg>");
}

/* CSS for InnerImageZoom by Lauren Ashpole */
/* Source: https://github.com/laurenashpole/react-inner-image-zoom */

.iiz {
  @apply rounded-lg;
  max-width: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.iiz--drag .iiz__zoom-img--visible {
  cursor: -webkit-grab;
  cursor: grab;
}

.iiz__img {
  max-width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
  visibility: visible;
  opacity: 1;
}

.iiz__img--hidden {
  visibility: hidden;
  opacity: 0;
}

.iiz__img--abs {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.iiz__zoom-img {
  width: auto !important;
  max-width: none !important;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.iiz__zoom-img--visible {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  -ms-touch-action: none;
  touch-action: none;
}

.iiz__zoom-portal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
}

.iiz__btn {
  background: rgba(255, 255, 255, 0.5);
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 30px;
  outline: none;
  padding: 0;
  position: absolute;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.iiz__btn:before {
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.iiz__hint {
  bottom: 10px;
  right: 10px;
  pointer-events: none;
  opacity: 0.2;
  transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
}

.iiz:hover .iiz__hint  {
  opacity: 1;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
}

.iiz__hint:before {
  content: " ";
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'><path d='M13.9 7.4C13.9 3.8 11 .9 7.4.9S.9 3.8.9 7.4s2.9 6.5 6.5 6.5 6.5-2.9 6.5-6.5zm5.3 12.5l-6.7-7.2c-1.4 1.3-3.2 2.1-5.1 2.1-4.1 0-7.4-3.3-7.4-7.4S3.3 0 7.4 0s7.4 3.3 7.4 7.4c0 1.7-.6 3.4-1.7 4.7l6.8 7.2-.7.6z' fill='black'/></svg>");
  width: 18px;
  height: 18px;
}

.iiz__close {
  top: 10px;
  right: 10px;
  visibility: hidden;
  opacity: 0;
}

.iiz__close--visible {
  visibility: visible;
  opacity: 1;
}

.iiz__close::before {
  content: " ";
  width: 29px;
  height: 29px;
  background-image:
    -webkit-gradient(linear, left top, left bottom, from(#222), to(#222)),
    -webkit-gradient(linear, left top, left bottom, from(#222), to(#222));
  background-image: linear-gradient(#222, #222), linear-gradient(#222, #222);
  background-size: 100% 1px, 1px 100%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

h1 {
  @apply antialiased text-3xl font-semibold text-left;
}

h2 {
  @apply antialiased text-xl font-semibold text-left mt-8 mb-2;
}

h3 {
  @apply antialiased font-medium text-left mt-4;
}

a {
  @apply antialiased underline transition duration-500;
  text-decoration-thickness: 1px !important;
}

a:hover {
  @apply text-blue-500 no-underline transition duration-500;
}

p {
  @apply antialiased font-sans mb-4 text-justify;
}

ul {
  @apply antialiased list-disc pl-6 font-sans mb-4;
}

ol {
  @apply antialiased list-decimal pl-6 font-sans mb-4;
}

hr {
  @apply my-4 border-beige;
}

.dark hr {
  @apply border-gray-800;
}

.refs-box a {
  @apply text-gray-600 pb-12;
}

blockquote {
  @apply antialiased py-0 px-4 mb-6 mt-6 border-l-2 border-beige;
}

.dark blockquote {
  @apply border-gray-800;
}

blockquote p {
  @apply antialiased m-0 font-serif text-justify leading-relaxed align-middle;
}

code {
  @apply antialiased whitespace-pre lining-nums slashed-zero tabular-nums text-sm text-gray-800 bg-beigeDarker p-1 py-0 px-1 rounded-sm;
}

.dark code {
  @apply bg-gray-700;
}

pre {
  @apply antialiased mb-4 p-2 rounded-md bg-beige;
  overflow-x: auto;
}

.dark pre {
  @apply bg-gray-900;
}

pre>code {
  @apply antialiased p-0 m-0 mb-2 bg-transparent;
}

.dark pre>code {
  @apply bg-transparent;
}

details {
  @apply antialiased pt-4 pb-4 pl-8 pr-8 rounded-lg text-blue-600 font-light bg-blue-50 dark:bg-opacity-50 ;
}

details>blockquote {
  @apply antialiased font-light py-0 px-4 mb-6 mt-6 border-l-2 border-blue-200 dark:border-opacity-50;
}

details>hr {
  @apply border-blue-200 dark:border-opacity-50;
}

details>p {
  @apply antialiased font-light pt-2 pb-2 text-left;
}

details>summary {
  @apply antialiased pt-2 pb-2 text-left font-normal cursor-pointer;
}

iframe {
  @apply antialiased align-middle; /* border-t-2 border-gray-300 */
}

/* iframe:hover {
  @apply border-t-4 border-blue-400 transition ease-in-out duration-500;
} */

.background-image {
  @apply antialiased w-full max-w-2xl -mt-8;
  position: relative;
  object-fit: cover;
  min-height: 200px;
  max-width: 100vw;
  vertical-align: middle;
  horizontal-align: middle;
  background-size: cover;
}

.dark .background-image {
  opacity: 0.8;
}

/* jargon styles */
/* Add a dashed line under jargon terms */
.jargon-term {
  text-decoration: underline dotted #228be6;
  text-underline-thickness: 1px;
  text-underline-offset: 0.2em;
}

/* Add a question mark behind/above jargon terms */
.jargon-term::after {
  content: "?";
  font-weight: bold;
  display: inline-block;
  transform: translate(0, -0.5em);
  font-size: 75%;
  color: #228be6;
  margin-left: 3px;
}

/* Hover behavior for the term itself */
.jargon-term:hover {
  position: relative;
  text-decoration: none;
  cursor: help;
}

/* Hide info by default */
.jargon-term .jargon-info {
  display: none
}

/* Show info on hover */
.jargon-term:hover .jargon-info {
  display: block;
  position: absolute;
  text-align: left;
  top: 1.5em;
  left: 0;
  background: rgba(244, 240, 232, .5); /* bg-gray-100 */
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  -moz-backdrop-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  border: none;
  padding: 1rem;
  border-radius: 0.375rem; /* rounded-md */
  font-size: 80%;
  min-width: 250px;
  max-width: 450px;
  z-index: 1;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.dark .jargon-term:hover .jargon-info {
  background: rgba(17, 24, 39, .5); /* bg-gray-900 */
}

/* graph styles (Copyright (c) 2020 Mathieu Dutour, from wolfr.am/VbLnqzx0) */
.graph-modal {
  @apply antialiased;
  z-index: 99;
  position: fixed;
  border-radius: 8px;
  background-color: rgba(252, 251, 249, .8);
  box-shadow: -5px -5px 15px -3px #f5f2ec,
    0 4px 15px -2px rgba(0, 0, 0, 0.08);
}

.dark .graph-modal {
  @apply antialiased border border-gray-800;
  background-color: rgba(2, 3, 6, 0.8);
  box-shadow: none;
}

.dark .graph-modal-body text, line {
  fill: #ccc;
}

.dark .graph-modal-body circle {
  fill: #ccc;
}

.graph-modal-hidden {
  opacity: 0;
  z-index: 0;
}

.graph-overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(252, 251, 249, .8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

.dark .graph-overlay {
  background-color: rgba(0,0,0, 0.8);
}

.graph-modal-close,
.graph-modal-scale {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background: none;
  color: #000;
  cursor: pointer;
  box-shadow: none;
}

.dark .graph-modal-close {
  color: #fff;
}

.dark .graph-modal-scale {
  color: #fff;
}

.graph-modal-scale svg {
  width: 20px;
  height: 20px;
}

.graph-modal-close path,
.graph-modal-scale path {
  fill: black;
}

.dark .graph-modal-close path {
  fill: white;
}
.dark .graph-modal-scale path {
  fill: white;
}

.graph-modal-scale {
  right: 30px;
}

.graph-modal-minimized .graph-modal-scale svg,
.graph-modal-minimized .graph-modal-close svg {
  width: 15px;
  height: 15px;
}

.graph-modal-minimized .graph-modal-scale {
  right: 25px;
}

.graph-modal-body {
  height: 100%;
  width: 100%;
}

.graph-modal-body .node,
.graph-modal-body .text {
  @apply font-light;
  cursor: pointer;
}

/* highlight text in note */
.highlight {
  @apply antialiased bg-yellow-300 p-1 py-0 px-1 rounded-md;
  position: relative;
  z-index: inherit;
  background-color: rgba(252, 211, 77, 1) !important;
}

.dark .highlight {
  background-color: rgba(252, 211, 77, .5) !important;
}

/* highlight text in search result (title) */
.ais-Highlight-highlighted {
  background-color: rgba(252, 211, 77, 1) !important;
}

.dark .ais-Highlight-highlighted {
  background-color: rgba(252, 211, 77, .5) !important;
}

/* highlight text in search result (note) */
.ais-Snippet-highlighted {
  background-color: rgba(252, 211, 77, .5) !important;
}

.dark .ais-Snippet-highlighted {
  background-color: rgba(252, 211, 77, .25) !important;
}

.Popups {
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  -moz-backdrop-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
}

.Links {
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  -moz-backdrop-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
}

@tailwind components;

/* copied from tippy.js/animations/shift-away.css */
.tippy-box[data-animation='shift-away'][data-state='hidden'] {
  opacity: 0;
}

.tippy-box[data-animation='shift-away'][data-state='hidden'][data-placement^='top'] {
  transform: translateY(10px);
}

.tippy-box[data-animation='shift-away'][data-state='hidden'][data-placement^='bottom'] {
  transform: translateY(-10px);
}

.tippy-box[data-animation='shift-away'][data-state='hidden'][data-placement^='left'] {
  transform: translateX(10px);
}

.tippy-box[data-animation='shift-away'][data-state='hidden'][data-placement^='right'] {
  transform: translateX(-10px);
}

/* .NotebookEmbed {
  @apply antialiased;
} */

/* incl. SSR things above this  */

/*! purgecss end ignore */
@tailwind utilities;

.note-columns-container {
  background-color: rgb(252, 251, 249);
}

.note-container {
  max-width: 100vw;
  padding-top: 80px !important;
  scroll-padding-top: 80px !important;
  scroll-behavior: smooth !important;
  background-color: rgb(252, 251, 249);
}

.note-container-shadow {
  box-shadow: 0px -5px 35px #f5f2ec;
}

.dark .note-container-shadow {
  box-shadow: none;
}

/* 768px */
@media (max-width: 800px) {
  .note-columns-container {
    width: unset !important;
    background-color: rgb(252, 251, 249);
  }

  .note-container {
    width: 100% !important;
  }
}
/*! purgecss end ignore */
